body{
    margin: 0;
    background-color: rgb(0,0,0,0.7);
    background-image: url(images/img1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: #fff;
    background-blend-mode: darken;
}
span{
    margin-left: 40px;
    margin-top: 20px;
    color: darkorange;
    display: inline-block;
}
.title {
    height: 90px;
    width: 90px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 70px;
    color: azure;
    text-shadow: 10px 10px 10px;
}
.header{
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 20px 100px;
    z-index: 99;
    background: transparent;
}
.nav{
    color: #fff;
    font-size: 17px;
    margin-left: 20px;
}
a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-left: 10px;
    font-size: 20px;
    justify-content: space-around;
    color: #fff;
}