body{
    background-color: rgb(0,0,0,0.7);
    background-image: url(images/img1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-blend-mode: darken;
}
span{
    margin-left: 40px;
    margin-top: 20px;
    color: darkorange;
    display: inline-block;
}
a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 230px;
}
.logo{
    background: url(images/logo.png) center/cover;
    width: 130px;
    height: 120px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 30px;
}
.giris{
    padding-top: 10px;
    border-radius: 30px;
    width: 500px;
    height: 500px;
    margin-left: 480px;
    margin-top: 50px;
    font-family: sans-serif;
    color: white;
    backdrop-filter: blur(15px);
}
.a{
    text-align: center;
}
.input{
    text-align: center;
}
.singup{
    margin-right: 190px;
}