body,
html {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0,0,0, 0.7);
    background-image: url(images/home2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-blend-mode: darken;
}

.home {
    background-image: url(images/home.png);

}

span {
    margin-left: 40px;
    margin-top: 20px;
    color: darkorange;
    display: inline-block;
}

.search-btn {
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
    font-size: 1.1rem;
    opacity: 0.8;
}

/* Header hissesidi */
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.1em;
    transition: 0.3s;
}

/* Mövcud nav kodlarını silib bununla əvəz et */
nav {
    background: rgba(255, 255, 255, 0.1);
    /* Şəffaf fon */
    backdrop-filter: blur(15px);
    /* Arxa fonun bulanıqlaşması */
    -webkit-backdrop-filter: blur(15px);
    padding: 12px 35px;
    border-radius: 50px;
    /* Kapsul forması */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    border: 1px solid rgba(255, 255, 255, 0.15);
    min-width: 500px;
}

nav a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 1rem;
    position: relative;
    padding-bottom: 5px;
    transition: 0.3s;
    opacity: 0.8;
}

/* Xidmətlər səhifəsində olduğun üçün aktiv linkin altındakı qırmızı xətt */
nav a.active::before,
nav a:hover::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color:  #2d5a27;
}

nav a.active {
    opacity: 1;
}

nav a:hover {
    color: #fff;
}

/* Sağ tərəfdəki axtarış ikonu */
.search-icon {
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
}



a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
    margin-left: 100px;
}
nav a.active::after,
        nav a:hover::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background-color: #000;
        }

.logo {
    background: url(images/logo.png) center/cover;
    width: 130px;
    height: 120px;
    border-radius: 50%;
    margin-top: -530px;
    margin-left: 15px;
}
.innovixyazi{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 80px;
    height: 80px;
    margin-top: -500px;
    margin-left: -15px;
    color: #cacaca;
}
.giris {
    backdrop-filter: blur(10px);
    width: 500px;
    background: transparent;
    color: white;
    border-radius: 20px;
    padding: 30px 40px;
    margin-left: 260px;
    margin-top: 130px;
    margin-bottom: 100px;
}

.giris h1 {
    font-size: 36px;
    text-align: center;
}

.giris .input-box {
    position: relative;
    margin: 10px 0;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: white;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50);
    font-size: 20px;
}

.giris .xatirla {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.xatirla label input {
    accent-color: white;
    margin-right: 3px;
}

.xatirla a {
    color: white;
    text-decoration: none;
}

.giris .button {
    width: 100px;
    height: 45%;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 37%;
    padding: 5px;
}


.a {
    text-align: center;
}

.input {
    text-align: center;
}

.singup {
    margin-right: 190px;
}

.qonaq {
    margin-top: 20px;
    text-align: center;
    margin-right: 80px;
}

.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 50%;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.fixed {
    height: 70px;
    width: 70px;
    position: relative;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: url(images/whatsapp.png) center/cover;
    scale: 1;
    transition: .4s;
    background-color: transparent;
}

.fixed:hover {
    scale: 1.1;
}

.site-footer {
    background-color: #0d0d0d;
    height: 280px;
    color: #ffffff;
    padding: 60px 20px;
    font-family: sans-serif;
    position: relative;
    width: 100%;
}

.footer-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-section {
    flex: 1;
    min-width: 220px;
    
}

.footer-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
    text-transform: capitalize;
}

.title-line {
    width: 35px;
    height: 2px;
    background-color: #ffffff;
    margin-bottom: 25px;
}

.footer-text {
    font-size: 14px;
    color: #b1b1b1;
    margin-bottom: 5px;
    line-height: 1.6;
}

.footer-links,
.social-list {
    list-style: none;
    padding: 0;
}

.footer-links li,
.social-list li {
    margin-left: -100px;
    margin-bottom: 16px;
    margin-top: -10px;
}

.footer-links a,
.social-list a {
    color: #b1b1b1;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-links a:hover,
.social-list a:hover {
    color: #ffffff;
}

.icon {
    display: inline-block;
    width: 15px;
    font-weight: bold;
    margin-right: 8px;
    margin-left: 2px;
}

.subscribe-box {
    display: flex;
    border: 1px solid #333;
    max-width: 250px;
}

.subscribe-input {
    background: transparent;
    border: none;
    padding: 12px;
    color: #fff;
    width: 100%;
    outline: none;
}

.subscribe-btn {
    background-color: #f1ebd6;
    border: none;
    padding: 0 15px;
    cursor: pointer;
    font-weight: bold;
    color: #000;
}

.scroll-top {
    position: absolute;
    right: 40px;
    bottom: 20px;
    background: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.arrow-up {
    color: #000;
    font-weight: bold;
    font-size: 18px;
}
.contact-email{
    margin-left: -40px;
}